@tailwind base;
@tailwind components;
@tailwind utilities;

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  @apply bg-background text-on-background h-screen;
}

#app {
  @apply h-full;
}

.card {
  @apply flex flex-col mt-16 bg-surface-variant text-on-surface-variant rounded-[32px] p-8;
}

.tonal-card {
  @apply flex flex-col relative mt-16 text-on-surface rounded-[32px] p-9;
  
  &::before {
    content: "";
    background-color: var(--md-sys-color-surface-variant);

    @apply absolute inline-block top-0 left-0 right-0 bottom-0 rounded-[32px] z-[-1] opacity-50;
  }
}

.slide-fade-enter-active {
  transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}