@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@material-symbols/font-600/rounded.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --md-icon-font: 'Material Symbols Rounded';
  --md-icon-weight: 500;
  --md-icon-button-icon-size: 18px;

  // Temporary fix for components not being themed
  --md-dialog-container-color: var(--md-sys-color-inverse-on-surface);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-variant);
  --md-navigation-bar-hover-state-layer-opacity: 0;

  scroll-behavior: smooth;
}

md-icon[filled] {
  --md-icon-font-variation-settings: 'FILL' 1;
}

* {
  ::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    
    @apply bg-outline-variant;
  }

  transition: background-color 0.21s ease-out, opacity 0.21s ease-out;

  ::selection {
    @apply bg-primary text-on-primary;
  }
}

body {
  @apply bg-background text-on-background text-sm;
}

#app {
  @apply h-full;
}

.card {
  @apply flex flex-col bg-inverse-on-surface text-on-surface-variant rounded-[32px] p-8;
}

.slide-fade-enter-active {
  transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

#fireduino-map, #fireduino-map > div {
    @apply w-[500px] h-[400px] rounded-lg;
}
